@tailwind base;
@tailwind components;
@tailwind utilities;

.drag-over {
  border: 2px solid red;
}

.dropped {
  border: 2px solid green;
}

.draggable-item {
  cursor: grab;
}

.draggable-item:active {
  cursor: grabbing;
}

.add-scale {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.float-label-input {
  margin: 32px 0;     
}

.float-label-input:focus-within label,
.float-label-input input:not(:placeholder-shown) + label {
  transform: translateY(-1.5rem) scale(0.75);
  background-color: white;
}
